body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.message {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

.messageInfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 5px;
}

.details {
  margin-top: 5px;
}

form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
